html
  style
    td { text-align: center; width: #{90.0/(2*times.length)}%; background-color:#aaaaaa}
    .ESL { background-color: #ff0000 }
    .CDR { background-color: #ffff00 }
    .EML { background-color: #00ffff }
  body
    h3 Schedule for #{field}
    table(border=1)
      thead
        tr
          th(style="width:5%")
            each item in times
              th #{Math.floor(item/100)}:#{(""+item).slice(-2)}
      tbody
        each day in days
          tr
            th(style="width:5%")= day
            each t in times
              = console.log(t)
              if sched[field][day]
                td(class="#{sched[field][day][t]}")
                  if sched[field][day][t]
                    ul
                    each tm in sched[field][day][t]
                      li= format_team(tm)
              else
                td n/a

        